 Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Backup files #
################
*.java~
*.java#
*.gradle~

# Direct files and directories #
################################
.gradle
*.zip
build/
.nb-gradle
